@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-title: "Playfair Display", serif;
  --font-sub: "Assistant", sans-serif;
  --font-menu: var(--font-sub);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-sub);
}

h1 {
  font-family: var(--font-title);
}

h2,
p {
  font-family: var(--font-sub);
}

nav a {
  font-family: var(--font-menu);
}

.title {
  font-family: var(--font-title);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.subtitle {
  font-family: var(--font-sub);
}

html {
  scroll-behavior: smooth;
}
